{
  "presets": [
    [ 
      "@babel/preset-env",
      { 
        "exclude": [
          "@babel/plugin-transform-template-literals",
          "@babel/plugin-transform-regenerator"
        ]
      }
    ],
    "@babel/preset-react"
  ]
}

