.root {
  --hue: 327;
  --color-border: hsl(var(--hue), 20%, 80%);
  --color-bg: hsl(var(--hue), 10%, 98%);
  --color-primary: hsl(var(--hue), 100%, 70%);

  display: grid;
  grid-template-columns: 10rem 1fr;

  > main {
    margin: 1rem 2rem;
  }
}

.active {}

.nav {
  /* margin: 1rem 2rem 0 2rem; */
  /* display: flex; */
  margin: 1rem;

  /* --border-style: 2px solid #fff; */
  /* grid-template-columns: repeat(auto-fill, 20rem); */
  /* grid-gap: 1rem; */
  /* padding: 1rem; */

  > a {
    display: block;
    flex: 0;
    margin-right: .5rem;
    font-weight: bold;

    /* border-right: var(--border-style); */
    /* background-color: var(--color-primary); */

    &:last-child {
      border-right: none;
      margin-right: none;
    }
    /* flex: 1; */
    /* padding: .25rem; */
    color: black;
    /* text-align: center; */
    text-decoration: none;
    font-weight: bold;
    &.active,
    &:hover {
      /* background-color: hsl(var(--hue), 100%, 40%); */
      /* color: white; */
      color: var(--color-primary);
    }
  }
}

