.Wrap {
  display: grid;
  /* grid-template-columns: minmax(max-content, 1fr) 2fr; */
  grid-template-columns: 200px 1fr;
  grid-gap: 1rem;
  /* padding: 1rem; */
}

.title {
  /* font-size: 1.5rem; */
  color: hsl(var(--hue), 100%, 40%);
  cursor: pointer;
  transition: color .2s ease, background-color .2s ease;
  /* padding: .5rem; */
  &.active {
    background-color: hsla(var(--hue), 50%, 70%, 30%);
  }
  > em {
    font-style: italic;
  }
}


.List {
  --num-columns: 3;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(var(--num-columns), 1fr);
  grid-gap: 1rem;
}

.RecordSetCard {
  padding: 0;
  > nav {
    background: hsla(var(--hue), 50%, 80%, 50%);
    border-bottom: 1px solid hsla(var(--hue), 80%, 40%, 20%);
    display: flex;
    > a {
      cursor: pointer;
      display: block;
      padding: .25rem;
      font-weight: bold;
      flex: 0;
      &.active {
        color: hsl(var(--hue), 100%, 50%);
      }
    }
  }
}

.active {}

.Card {
  max-width: 100%;
  overflow: hidden;
  /* background-color: hsl(var(--hue), 24%, 93%); */
  border: 1px solid hsla(var(--hue), 80%, 40%, 20%);
  display: flex;
  flex-direction: column;

  > main {
    padding: 0 1rem;

    flex: 1;
    /* max-height: 200px; */
    overflow: hidden;

    /* font-size: 1.5rem; */
    > a {
      text-decoration: none;
      color: black;
    }

    > h2,
    > a > h2 {
      padding-top: 1rem;
      font-size: 1.5rem;
    }
  }

  > footer {
    padding: 0 1rem;
    margin-top: 1rem;
    background-color: hsl(var(--hue), 24%, 93%);
    opacity: .8;
    /* background-color: hsl(var(--hue), 10%, 85%); */
  }

  > img {
    max-width: 100%;
    max-height: 200px;
  }

  code {
    background: rgba(240,240,240,0.7);
  }
}

.KeyValue {
  display: grid;
  grid-template-columns: min-content 1fr;
  > dt {
    font-weight: bold;
    padding-right: 1rem;
  }
}


.Meta {
  display: grid;
  grid-template-columns: 1fr max-content;
  font-size: .8rem;
  /* line-height: 1.2; */
  padding: .5rem 0;
  color: hsl(var(--hue), 10%, 10%);

  > dd {
  }

  > dt {
    display: none;
    /* font-weight: bold; */
    color: #222;
    /* font-style: italic; */
    padding-right: 1rem;
  }
}
