.Row {
  margin-bottom: 1.5rem;
  max-width: 800px;
  > h2 {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: -.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: #1AODAB;
      text-decoration: none;
    }
  }
}

.Wrap {
  /* margin: 3rem; */
}

.Meta {
  color: #006621;
  > strong {
    margin-right: 1rem;
  }
}

.Form {
  margin-bottom: 1.5rem;
  input {
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 10px;
    margin-right: 1rem;
    &:focus {
      outline: none;
      box-shadow: 0 0 4px rgba(0,0,0,0.2);
    }
  }
  select {
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 1rem;
  }
}
